.jumbotron{
    background-color: dodgerblue;
    color: white;
    margin-top: 50px;
}

footer{
    padding: 10px 10px 0px 10px;
    background-color: rgb(214, 214, 214);
    margin-top: 20px;
}

.card-disp{
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 10px;
}

.btn-add{
    width: 100%;
}

